.navbar {
  background: white;
  width: 100%;
  height: 6vh;
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;

  .nav-links {
    margin: auto;

    width: 85%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    .nav-link {
      text-decoration: none;
      li {
        color: rgb(85, 85, 85);
        font-weight: 600;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: rgb(214, 85, 85);
        }
        a {
        }
      }
    }
  }
}
