.navbar {
  background: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 10vh;
  min-height: 40px;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  transition: 0.5s;

  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;

    .nav-links {
      display: flex;
      flex-direction: row;
      list-style: none;
      .nav-link {
        text-decoration: none;
        padding: 5px 15px;
        li {
          color: rgb(85, 85, 85);
          font-weight: 600;
          font-size: 1.2rem;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            color: rgb(214, 85, 85);
          }
        }
      }
    }
  }
}

.navbar.scrolled {
  background-color: white;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
  height: 7vh;
}
