.home {
  .spam {
    padding: 2rem;
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 60vh;
    max-height: 60vh;
    width: 100%;
    overflow: hidden;
    .hero-image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      overflow: hidden;
      height: 0%;
      img {
        position: relative;
        width: 100%;
        object-fit: cover;
        filter: grayscale(0.6) contrast(1.2) brightness(0.4);
      }
      .headline {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        color: white;
        text-transform: uppercase;
        position: absolute;

        font-size: 1.4rem;
        letter-spacing: 1rem;
        white-space: nowrap;
        filter: blur(2px);

        .gap {
          width: 35%;
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .home .img-container .hero-image .headline {
    font-size: 1rem;
    letter-spacing: 0.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .home .img-container .hero-image .headline {
    font-size: 0.7rem;
    letter-spacing: 0.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .home .img-container .hero-image .headline {
    font-size: 0.5rem;
    letter-spacing: 0.4rem;
  }
}
