@font-face {
  font-family: "CinzelDecorative-Bold";
  src: url(assets/fonts/CinzelDecorative-Bold.ttf);
  font-synthesis: normal;
}
html {
  overflow-y: scroll;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
